a{
    text-decoration: none;
}

body{
    font-family: 'Comfortaa',cursive;
}

.fa{
    font-size: 1.5em !important;
    margin-right: 10px;
}

#close-nav{
    font-size: 2.5em;
    position: absolute;
    color: black;
    display: none;
    left: -30px;
}

.container{
    background: linear-gradient(to right, #007991,#78ffd6);
}